extends email-layout

block content
  h2 Welcome to Virtual Closet
  p Hello #{name}!
  br
  p Welcome to Virtual Closet.

  p Your request was created successfully. Someone will get across to you from our team.

  p
  p
  br
  p If you didn't request this email, please ignore it.
  p Virtual Closet
