extends email-layout

block content
  h2 Account Verified
  p Hello #{email.split('@')[0]}!
  br
  p Your Account on Virtual Closet has been verified. Big Warm Welcome. Your digital closet is our duty.

  p Feel free to setup your account.

  p Don't forget to store your password safely.
  br
  p If you didn't request this email, please ignore it.
  p Virtual Closet
